body {
    font-family: "Lato";
    background: url(../img/bck2.jpg) no-repeat center center fixed;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2,h3,h4,h5,h5 {font-family: "Rokkitt";}
::selection {background: #B3FF40;}
::-moz-selection {background: #B3FF40;}
div#wrap {width:980px;position:relative;margin:0 auto!important;zoom: 1;filter: alpha(opacity=95);opacity: 0.95;}
div#sidebar {width:220px;height:100%;float:left;background:#2c2c2c;border-right:1px solid #2e2f2f;position:fixed;outline: 3px solid #005580;}
ul#navigation {margin: 0;margin-right:-5px;position:relative;width:220px;z-index:999}
ul#navigation li a:link, ul#navigation li a:visited {
    text-decoration:none;
    margin-bottom:1px;
    width:auto;
    font-size:20px;
    text-align:left;
    padding-left:10px !important;
    display:block;
    transition:all 200ms;
    -webkit-transition:all 200ms;
    -moz-transition:all 200ms;
    -o-transition:all 200ms;
    padding:15px 10px 15px 0
}
ul#navigation li a:hover, ul#navigation li a.active {background:#1b1b1b;color:#FFF;}
#container {width:750px;float:right;padding: 0 20px;left:-5px;position:relative;background:#fff;}
.section {padding-top: 10px;}
#footer {text-transform: uppercase;color: #678;text-align:center;font-size:12px;padding: 150px 0 35px 0}
.gotop {
    position:fixed;
    right:10px;
    bottom:10px;
    opacity:.5;
    padding:10px;
    color:#fff;
    display:block;
    text-decoration:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    z-index:999;
    transition:all 300ms;
    -webkit-transition:all 300ms
}
.gotop:hover {color:#005580;opacity:.7}
.gotop.hidden {display:none;opacity:0}
a.gotop {text-decoration:none!important}
#person-name-holder {padding: 10px;}
#person-name-holder h3 {color: #fff;font-size: 26px;}
.social-icons a {text-decoration: none; padding-right: 5px;}

@media screen and (min-width:768px) and (max-width: 992px) {
.gotop {visibility: hidden;}
div#wrap {width:750px}
div#sidebar {width:185px /*200px*/;}
ul#navigation {width:185px /*205px*/;}
div#container {width:555px}
}
@media screen and (max-width: 768px) {
.gotop {visibility: hidden;}
div#wrap {width:320px}
div#sidebar {width:320px;position:relative;border:none;outline: none;float:none;clear:both;padding-top: 25px;}
div#container {float:none;width:320px;clear:both;left: 0;width: 320px;padding: 0 10px;}
ul#navigation {position:relative;width:320px;margin:10px 0 0 0}
ul#navigation li a:link, ul#navigation li a:visited {border-right:none;text-align:left;padding:5px 5px 5px 10px;text-align:center}
}